blockquote {
	text-align: center;
	@include brand--font-sans-medium;
	font-size: 1.6rem;
	padding: $padding--small;
	font-style: italic;
	line-height: 1.4;
	color: $color--white;
	cite {
		@include brand--font-sans-bold;
		margin-top: 10px;
		display: block;
		color: $color--secondary;
	}
}