figure {
	margin: 0;
	padding: 0;
	&.headshot {
		margin-right: $margin--general;
		& img {
			width: 200px;
			height: 200px;
			// border-radius: 50%;
		}
	}
	&.headshot-logo {
		& img {
			height: 200px;
			opacity: 0.1;
		}
	}
	&.loc {
		margin-bottom: $margin--general;
		& img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
	}
	&.loc-logo {
		& img {
			height: 200px;
			opacity: 0.1;
		}
	}
	
}